# COURSE: A deep understanding of deep learning
## SECTION: Introduction to Python: data types
#### TEACHER: Mike X Cohen, sincxpress.com
##### COURSE URL: udemy.com/course/deeplearning_x/?couponCode=202212
##### Code modified from original video

# .
# .
# .

# VIDEO: Variables

In [4]:
# This is a comment. Python will ignore this text.

In [5]:
a = 4
b = 3

In [6]:
a

4

In [7]:
a
b

3

In [8]:
print(a) # comments after a line
print(b)

4
3

In [9]:
c = 7
d = 7.0

print(c,d)

7 7.0

In [10]:
type(c)
type(d)

float

In [11]:
c = 'hello'
d = "Hey there!"

In [12]:
# define variables and parameters
aVariable    = 10
filterOrder  = 2048
user_name    = 'mike'
param4modelA = 42.42

not!allowed = 3
also#not = 3
^nope! = 3

# variable naming rule: no non-alphanumeric characters except _
# variables may contain numbers but not start with them

SyntaxError: invalid syntax (1475562398.py, line 7)

In [23]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      4
b          int      3
c          float    9.1
d          str      Hey there!
varA       int      3
varB       str      test
x          int      7
y          float    4.1
z          int      0

In [14]:
# multiple assignment
varA,varB = 3,'test'

print(varA)
print(varB)

3
test

### Exercise:

In [29]:
# discover whether it's possible in Python to over-write variables:
#  1) within-type (e.g., numeric to a different number)
#  2) across-type (e.g., numeric to a string)

In [30]:
# Answer: yes, you can do 1) and 2)
# Evidence
x = 3
x = "String"
x

'String'

# .
# .
# .

# VIDEO: Math operators

In [35]:
# let's start by creating some variables
x = 7
y = 4.1
z = 0

In [36]:
# Addition and subtraction

print( x-7 )

c = y + x - 2

0

In [38]:
# multiplication and division
print( x*y ) # note: floating-point algebra is not the same thing as "real" algebra
4/3
4\
  +3 # allows u to continue statement to a newline without syntax error

28.699999999999996

3

In [20]:
# powers
2**3

8

In [ ]:
print( 9**1/2 )

# therefore, use parentheses to overwrite order of operations
print( 9**(1/2) )

4.5
3.0

In [ ]:
# can we "add" strings??
firstName = 'Mike'
lastName  = 'Cohen'

# Overloading: + can be used to concatenate strings but also sum up numbers
print( firstName + lastName )
print( firstName + ' ' + lastName )

MikeCohen
Mike Cohen

In [ ]:
# just curious...
firstName - lastName

TypeError: ignored

In [ ]:
firstName * 3

In [40]:
# printing mixed variable types
print( '7 times 4.1 equals 28.7' ) 

print( x ' times ' y ' equals ' x*y ) 
print( x + ' times ' + y + ' equals ' + x*y )

7 times 4.1 equals 28.7
7  times  4.1  equals  28.699999999999996

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
print( str(x) + ' times ' + str(y) + ' equals ' + str(x*y) )

7 times 4.1 equals 28.699999999999996

In [ ]:
# inputting data from the user
ans = input('Feed me a stray cat ')
print(ans)
print(type(ans))

In [ ]:
ans*10

In [ ]:
numans = input( 'Input a number: ' )
numans = float(numans)

type(numans)

### Exercise

In [42]:
# The goal is to apply the Pythagorean theorem.
#  Input from the user two lengths, and you return the third length
side1 = int( input('Length of side a: ') )
side2 = int( input('Length of side b: ') )

thirdside = (side1**2 + side2**2)**(1/2)

print(' ')
print( 'The length of side c is ' + str( thirdside ) )

Length of side a:  1
Length of side b:  1

The length of side c is 1.4142135623730951

# .
# .
# .

# VIDEO: Lists

In [46]:
aList = [0,1,2,3,4,5]

aList

[0, 1, 2, 3, 4, 5]

In [47]:
type(aList)

list

In [45]:
strList = [ 'hi','my','name','is','Mike' ]
strList

['hi', 'my', 'name', 'is', 'Mike']

In [ ]:
mixList = [ 3,'three',4,'four' ]
mixList

In [ ]:
listList = [ 3,['3','4','5'],5,[4,5,6] ]
listList

In [49]:
# Vertical organization of the list
listList = [ 
            3,              # a number
            ['3','h','5'],  # a list of strings
            5,              # another number
            [4,5,6]         # a list of numbers
           ]

listList

[3, ['3', 'h', '5'], 5, [4, 5, 6]]

In [ ]:
# test whether an item is in a list
4 in aList

In [ ]:
print( 4 in aList )

print( 14 in aList )
print( 14 not in aList )

In [50]:
# Concatnate list items
aList + strList

[0, 1, 2, 3, 4, 5, 'hi', 'my', 'name', 'is', 'Mike']

In [52]:
# Repeat the list items 3 times
aList*3

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [54]:
newlist = [4,3,4,5,6,7,7,7,7]

set(newlist)

{3, 4, 5, 6, 7}

In [56]:
## some list methods 

# show the original
print(aList)

# add a new element
aList.append(-100)
print(aList)

# sort
aList.sort()
print(aList)

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, -100]
[-100, 0, 1, 2, 3, 4, 5]

### Exercise

In [55]:
# Use a list method to find the number of 7's in newlist
newlist.count(7)

4

# .
# .
# .

# VIDEO: Lists part 2

In [57]:
# append, insert, remove, del, sort

lst = [1,2,3,4,5]

print(lst)
lst.append(7)
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 7]

In [59]:
# Insert 20 at index 2 of the list
lst.insert(2,20)
print(lst)

[1, 2, 20, 20, 3, 4, 5, 7]

In [60]:
lst.append(3)
print(lst)
# Move ur cursor inside the parenthesis, then hold Shift-Tab to view information of the function
# Looks like this removes the first occurrence of value 3 in the list
lst.remove(3)
print(lst)

[1, 2, 20, 20, 3, 4, 5, 7, 3]
[1, 2, 20, 20, 4, 5, 7, 3]

In [ ]:
print(lst)

lst.sort()
print(lst)

lst.sort(reverse=True)
print(lst)

[20, 7, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 7, 20]
[20, 7, 5, 4, 3, 2, 1]

In [64]:
lst.append('hi')
lst.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

### Exercise

In [67]:
# Remove the string hi
# So we can then sort the string in decreasing order
if 'hi' in lst: lst.remove('hi')
lst.sort(reverse=True)
lst

[20, 20, 7, 5, 4, 3, 2, 1]

# VIDEO: Tuples

In [68]:
atuple = ( 3,'4',3 )

atuple*3

(3, '4', 3, 3, '4', 3, 3, '4', 3)

In [ ]:
atuple.count(3)

In [ ]:
alist = list(atuple)

print(atuple)
print(alist)

In [ ]:
# tuples are immutable
atuple[0] = 5

In [ ]:
# lists are mutable
alist[0] = 5
alist

# .
# .
# .

# VIDEO: Booleans

In [ ]:
boolTrue = True
booltrue = 'true'

%whos

In [ ]:
# comparisons
4 == 4

In [ ]:
4>5

In [ ]:
4>4

In [ ]:
4>=4

In [ ]:
4 != 5

In [ ]:
a = 8
b = 4

outcome = a == b*2
print(outcome)

In [ ]:
# conjunctive comparisons
# both needs to be true
14>5 and 7<10

In [71]:
# disjunctive comparisons
# only need 1 to be true
14>5 or 7>10

True

In [77]:
# converting to boolean
print('Falsy Values:')
print( bool(0.0) )
print( bool(0) )
print( bool('') )

print('Truthy Values:')
print( bool(10) )
print( bool('asdf') )
print( bool(' ') )

Falsy Values:
False
False
False
Truthy Values:
True
True
True

### Exercise

In [ ]:
# Ask users to input Pythagorean triplet, check whether it's real

In [81]:
print("Let's test your knowledge of Pythagorean triples!")

# input from 3 numbers: a, b, c
sidea = float(input('Input length of side a: '))
sideb = float(input('Input length of side b: '))
sidec = float(input('Input length of side c: '))

# check whether c**2 = a**2 + b**2
isPythTriplet = sidea**2 + sideb**2 == sidec**2

print('Your answer is ' + str(isPythTriplet) + '!!')

Let's test your knowledge of Pythagorean triples!

Input length of side a:  3
Input length of side b:  4
Input length of side c:  5

Your answer is True!!

# .
# .
# .

# VIDEO: Dictionaries

In [84]:
# [] lists
# () tuples
# {} dictionaries; they have key/value pairs
D = dict()
D

{}

In [ ]:
# Populating dictionaries
D['name'] = 'Mike' # key/value pairs
D['AgeRange'] = [20,50]

D

In [86]:
# You can create a non-empty dictionary 
D = {'name':'Mike' , 'AgeRange':[20,50]}

D

{'name': 'Mike', 'AgeRange': [20, 50]}

In [ ]:
# retrieve one item
D['name']

In [90]:
# list all properties
# To check available methods on D, simply type D. -> press tab
D.keys()

dict_keys(['name', 'AgeRange'])

# test whether a key is in the dictionary
'name' in D

In [91]:
# Check if key exists in that dictionary
'Mike' in D

False

In [ ]:
'Mike' not in D

In [88]:
D.values()

dict_values(['Mike', [20, 50]])

In [89]:
D.items()

dict_items([('name', 'Mike'), ('AgeRange', [20, 50])])

### Exercise

In [ ]:
# Input two numbers from the user. 
# Create a dictionary with keys 'firstNum', 'secondNum', and 'product'

In [92]:
del D
D = dict()

num1 = float(input('Give me a number '))
D['FirstNum'] = num1

num2 = float(input('Give me another number '))
D['SecondNum'] = num2

D['Product'] = num1*num2

D.items()

Give me a number  1
Give me another number  2

dict_items([('FirstNum', 1.0), ('SecondNum', 2.0), ('Product', 2.0)])